<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA_UI</title>
    <link rel="stylesheet" href="/Component-assets/Css/ComponentsStyles.css">
    <link rel="stylesheet" href="/Component-assets/Css/component-Responsive.css">
    <link rel="stylesheet" href="/SnippetCode/snippet.css">
</head>

<body>
    <!-- Navigation Bar Desktop -->
    <div class="nav-bar nav-bar--simple">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/Home-page/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <ul class="nav-bar__list">
            <li><a class="nav-bar__item" href="/index.html">Home</a></li>
            <li><a class="nav-bar__item" href="/Components/Avatar.html">Docs</a></li>
        </ul>
    </div>

    <!-- Navigation Bar For Tab and Mobile  -->
    <div class="nav-bar nav-bar--hamburger">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/Home-page/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <div class="nav-bar--hamburger">
            <img class="nav-bar__img--hamburger" src="/Component-assets/images/Hamburger Menu.png" alt="">
        </div>
    </div>

    <!---Hamburger List -->
    <div class="hamburger">
        <div class="hamburger__header--wrapper">
            <h1 class="hamburger__title">AQUA_UI</h1>
            <img class="hamburger__close-btn" src="/Component-assets/images/Hamburger Close.png" alt="Hamburger">
        </div>
        <ul class="hamburger__list">
            <a href="/index.html">
                <li class="hamburger__item">Home</li>
            </a>
            <a href="/Components/Avatar.html">
                <li class="hamburger__item">Avatar</li>
            </a>
            <a href="/Components/Alert.html">
                <li class="hamburger__item">Alert</li>
            </a>
            <a href="/Components/Badge.html">
                <li class="hamburger__item">Badge</li>
            </a>
            <a href="/Components/Button.html">
                <li class="hamburger__item">Button</li>
            </a>
            <a href="/Components/Image.html">
                <li class="hamburger__item">Image</li>
            </a>
            <a href="/Components/Card.html">
                <li class="hamburger__item">Card</li>
            </a>
            <a href="/Components/Input.html">
                <li class="hamburger__item">Input</li>
            </a>
            <a href="/Components/Modal.html">
                <li class="hamburger__item">Modal</li>
            </a>
            <a href="/Components/Navigation.html">
                <li class="hamburger__item">Navigation</li>
            </a>
            <a href="/Components/Toast.html">
                <li class="hamburger__item">Toast</li>
            </a>
        </ul>
    </div>
    <main>
        <!-- sidebar -->
        <div class="sidebar">
            <h1 class="sidebar__title">Components</h1>
            <ul class="sidebar__list">
                <a href="/Components/Avatar.html">
                    <li class="sidebar__item">Avatar</li>
                </a>
                <a href="/Components/Alert.html">
                    <li class="sidebar__item">Alert</li>
                </a>
                <a href="/Components/Badge.html">
                    <li class="sidebar__item">Badge</li>
                </a>
                <a href="/Components/Button.html">
                    <li class="sidebar__item">Button</li>
                </a>
                <a href="/Components/Image.html">
                    <li class="sidebar__item">Image</li>
                </a>
                <a href="/Components/Card.html">
                    <li class="sidebar__item">Card</li>
                </a>
                <a href="/Components/Input.html">
                    <li class="sidebar__item">Input</li>
                </a>
                <a href="/Components/Modal.html">
                    <li class="sidebar__item">Modal</li>
                </a>
                <a href="/Components/Navigation.html">
                    <li class="sidebar__item">Navigation</li>
                </a>
                <a href="/Components/Toast.html">
                    <li class="sidebar__item">Toast</li>
                </a>
            </ul>
        </div>

        <!-- Avatar -->


        <!-- Avatar Intro -->
        <div class="avatar component-box">
            <div class="component-box-demo avatar__intro">
                <h1 class="component-box-demo--title avatar__intro--title">Avatar</h1>
                <p class="component-box-demo--desc avatar__intro--desc"><b>Avatar</b> is used to represent the profile pictures and icons.<b> AQUA_UI</b> has different sizes of Avatar.</p>
            </div>
            <!-- Avatar Content Small-Simple -->
            <div class="component-box-demo avatar__content">
                <h1 class="component-box-demo--title avatar__header--container">Avatar-Small</h1>

                <div class="component-box-demo--container avatar__img--container">
                    <div class="avatar-Wrapper--small">
                        <img class="avatar-sm" src="/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png"
                            alt="Male-Avatar-Primary">
                        <img class="avatar-sm" src="/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png"
                            alt="Female-Avatar-Primary">
                        <img class="avatar-sm" src="/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png"
                            alt="Male-Avatar-Secondary">
                        <img class="avatar-sm" src="/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png"
                            alt="Female-Avatar-secondary">
                    </div>
                </div>
                <div class="component-box-demo--container avatar__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;avatar-Wrapper--small&quot;&gt;
  &lt;img class=&quot;avatar-sm&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png&quot; alt=&quot;Male-Avatar-Primary&quot;&gt;
  &lt;img class=&quot;avatar-sm&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png&quot; alt=&quot;Female-Avatar-Primary&quot;&gt;
  &lt;img class=&quot;avatar-sm&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png&quot; alt=&quot;Male-Avatar-Secondary&quot;&gt;
  &lt;img class=&quot;avatar-sm&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png&quot; alt=&quot;Female-Avatar-secondary&quot;&gt;
&lt;/div&gt;
                        </textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Avatar Content Small Rounded -->
            <div class="component-box-demo avatar__content">
                <h1 class="component-box-demo--title avatar__header--container">Avatar-Small-Rounded</h1>

                <div class="component-box-demo--container avatar__img--container">
                    <div class="avatar-Wrapper--small">
                        <img class="avatar-sm avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png" alt="Male-Avatar-Primary">
                        <img class="avatar-sm avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png"
                            alt="Female-Avatar-Primary">
                        <img class="avatar-sm avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png"
                            alt="Male-Avatar-Secondary">
                        <img class="avatar-sm avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png"
                            alt="Female-Avatar-secondary">
                    </div>
                </div>
                <div class="component-box-demo--container avatar__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;avatar-Wrapper--small&quot;&gt;
    &lt;img class=&quot;avatar-sm avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png&quot; alt=&quot;Male-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-sm avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png&quot; alt=&quot;Female-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-sm avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png&quot; alt=&quot;Male-Avatar-Secondary&quot;&gt;
    &lt;img class=&quot;avatar-sm avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png&quot; alt=&quot;Female-Avatar-secondary&quot;&gt;
&lt;/div&gt;</textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Avatar Regular -->
            <div class="component-box-demo avatar__content">
                <h1 class="component-box-demo--title avatar__header--container">Avatar-Regular</h1>

                <div class="component-box-demo--container avatar__img--container">
                    <div class="avatar-Wrapper--regular">
                        <img class="avatar-rg" src="/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png"
                            alt="Male-Avatar-Primary">
                        <img class="avatar-rg" src="/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png"
                            alt="Female-Avatar-Primary">
                        <img class="avatar-rg" src="/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png"
                            alt="Male-Avatar-Secondary">
                        <img class="avatar-rg" src="/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png"
                            alt="Female-Avatar-secondary">
                    </div>
                </div>

                <div class="component-box-demo--container avatar__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;avatar-Wrapper--regular&quot;&gt;
    &lt;img class=&quot;avatar-rg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png&quot; alt=&quot Male-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-rg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png&quot; alt=&quot; Female-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-rg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png&quot; alt=&quot; Male-Avatar-Secondary&quot;&gt;
    &lt;img class=&quot;avatar-rg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png&quot; alt=&quot; Female-Avatar-secondary&quot;&gt;
&lt;/div&gt; </textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Avatar Regular Rounded-->
            <div class="component-box-demo avatar__content">
                <h1 class="component-box-demo--title avatar__header--container">Avatar-Regular-Rounded</h1>

                <div class="component-box-demo--container avatar__img--container">
                    <div class="avatar-Wrapper--regular">
                        <img class="avatar-rg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png" alt="Male-Avatar-Primary">
                        <img class="avatar-rg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png"
                            alt="Female-Avatar-Primary">
                        <img class="avatar-rg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png"
                            alt="Male-Avatar-Secondary">
                        <img class="avatar-rg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png"
                            alt="Female-Avatar-secondary">
                    </div>
                </div>
                <div class="component-box-demo--container avatar__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;avatar-Wrapper--regular&quot;&gt;
    &lt;img class=&quot;avatar-rg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png&quot;
    alt=&quot;Male-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-rg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png&quot;
    alt=&quot;Female-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-rg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png&quot;
    alt=&quot;Male-Avatar-Secondary&quot;&gt;
    &lt;img class=&quot;avatar-rg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png&quot;
    alt=&quot;Female-Avatar-secondary&quot;&gt;
&lt;/div&gt;</textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Avatar large Regular -->
            <div class="component-box-demo avatar__content">
                <h1 class="component-box-demo--title avatar__header--container">Avatar-Large</h1>

                <div class="component-box-demo--container avatar__img--container">
                    <div class="avatar-Wrapper--large">
                        <img class="avatar-lg" src="/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png"
                            alt="Male-Avatar-Primary">
                        <img class="avatar-lg" src="/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png"
                            alt="Female-Avatar-Primary">
                        <img class="avatar-lg" src="/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png"
                            alt="Male-Avatar-Secondary">
                        <img class="avatar-lg" src="/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png"
                            alt="Female-Avatar-secondary">
                    </div>
                </div>
                <div class="component-box-demo--container avatar__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;avatar-Wrapper--large&quot;&gt;
    &lt;img class=&quot;avatar-lg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png&quot;
    alt=&quot;Male-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-lg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png&quot;
    alt=&quot;Female-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-lg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png&quot;
    alt=&quot;Male-Avatar-Secondary&quot;&gt;
    &lt;img class=&quot;avatar-lg&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png&quot;
    alt=&quot;Female-Avatar-secondary&quot;&gt;
&lt;/div&gt;</textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Avatar large Rounded-->
            <div class="component-box-demo avatar__content">
                <h1 class="component-box-demo--title avatar__header--container">Avatar-Large-Rounded</h1>

                <div class="component-box-demo--container avatar__img--container">
                    <div class="avatar-Wrapper--large">
                        <img class="avatar-lg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png" alt="Male-Avatar-Primary">
                        <img class="avatar-lg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png"
                            alt="Female-Avatar-Primary">
                        <img class="avatar-lg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png"
                            alt="Male-Avatar-Secondary">
                        <img class="avatar-lg avatar--rounded"
                            src="/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png"
                            alt="Female-Avatar-secondary">
                    </div>
                </div>
                <div class="component-box-demo--container avatar__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;avatar-Wrapper--large&quot;&gt;
    &lt;img class=&quot;avatar-lg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Primary.png&quot; alt=&quot;Male-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-lg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Primary.png&quot; alt=&quot;Female-Avatar-Primary&quot;&gt;
    &lt;img class=&quot;avatar-lg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Male-Avatar-Secondary.png&quot; alt=&quot;Male-Avatar-Secondary&quot;&gt;
    &lt;img class=&quot;avatar-lg avatar--rounded&quot; src=&quot;/Component-assets/Components-Images/Avatar/Female-Avatar-Secondary.png&quot alt=&quot;Female-Avatar-secondary&quot;&gt;
&lt;/div&gt;</textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </main>
    <script src="/SnippetCode/snippet.js"></script>
    <script src="/Component-assets/Component-javaScript/components.js"></script>
</body>

</html>