<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA_UI</title>
    <link rel="icon" type="image/x-icon" href="/Home-Page/images/Aqua_UI-Favicon.png">
    <link rel="stylesheet" href="/Component-assets/Css/ComponentsStyles.css">
    <link rel="stylesheet" href="/Component-assets/Css/component-Responsive.css">
    <link rel="stylesheet" href="/Component-assets/SnippetCode/snippet.css">
</head>

<body>
    <!-- Navigation Bar Desktop -->
    <div class="nav-bar nav-bar--simple">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/Home-page/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <ul class="nav-bar__list">
            <li><a class="nav-bar__item" href="/index.html">Home</a></li>
            <li><a class="nav-bar__item" href="/Components/Avatar.html">Docs</a></li>
        </ul>
    </div>

    <!-- Navigation Bar For Tab and Mobile  -->
    <div class="nav-bar nav-bar--hamburger">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/Home-page/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <div class="nav-bar--hamburger">
            <img class="nav-bar__img--hamburger" src="/Home-page/images/Hamburger Menu.png" alt="Hamburger">
        </div>
    </div>

    <!---Hamburger List -->
    <div class="hamburger">
        <div class="hamburger__header--wrapper">
            <h1 class="hamburger__title">AQUA_UI</h1>
            <img class="hamburger__close-btn" src="/Home-page/images/Hamburger Close.png" alt="Hamburger">
        </div>
        <ul class="hamburger__list">
            <a href="/index.html">
                <li class="hamburger__item">Home</li>
            </a>
            <a href="/Components/Avatar.html">
                <li class="hamburger__item">Avatar</li>
            </a>
            <a href="/Components/Alert.html">
                <li class="hamburger__item">Alert</li>
            </a>
            <a href="/Components/Badge.html">
                <li class="hamburger__item">Badge</li>
            </a>
            <a href="/Components/Button.html">
                <li class="hamburger__item">Button</li>
            </a>
            <a href="/Components/Image.html">
                <li class="hamburger__item">Image</li>
            </a>
            <a href="/Components/Card.html">
                <li class="hamburger__item">Card</li>
            </a>
            <a href="/Components/Input.html">
                <li class="hamburger__item">Input</li>
            </a>
            <a href="/Components/Modal.html">
                <li class="hamburger__item">Modal</li>
            </a>
            <a href="/Components/Navigation.html">
                <li class="hamburger__item">Navigation</li>
            </a>
            <a href="/Components/Toast.html">
                <li class="hamburger__item">Toast</li>
            </a>
            <a href="/Components/Text-Utilities.html">
                <li class="hamburger__item">Text Utilities</li>
            </a>
            <a href="/Components/List.html">
                <li class="hamburger__item">List</li>
            </a>
            <a href="/Components/Rating.html">
                <li class="hamburger__item">Rating</li>
            </a>
            <a href="/Components/Grid.html">
                <li class="hamburger__item">Grid</li>
            </a>
        </ul>
    </div>
    <main>
        <!-- sidebar -->
        <div class="sidebar">
            <h1 class="sidebar__title">Components</h1>
            <ul class="sidebar__list">
                <a href="/Components/Avatar.html">
                    <li class="sidebar__item">Avatar</li>
                </a>
                <a href="/Components/Alert.html">
                    <li class="sidebar__item">Alert</li>
                </a>
                <a href="/Components/Badge.html">
                    <li class="sidebar__item">Badge</li>
                </a>
                <a href="/Components/Button.html">
                    <li class="sidebar__item">Button</li>
                </a>
                <a href="/Components/Image.html">
                    <li class="sidebar__item">Image</li>
                </a>
                <a href="/Components/Card.html">
                    <li class="sidebar__item">Card</li>
                </a>
                <a href="/Components/Input.html">
                    <li class="sidebar__item">Input</li>
                </a>
                <a href="/Components/Modal.html">
                    <li class="sidebar__item">Modal</li>
                </a>
                <a href="/Components/Navigation.html">
                    <li class="sidebar__item">Navigation</li>
                </a>
                <a href="/Components/Toast.html">
                    <li class="sidebar__item">Toast</li>
                </a>
                <a href="/Components/Text-Utilities.html">
                    <li class="sidebar__item">Text Utilities</li>
                </a>
                <a href="/Components/List.html">
                    <li class="sidebar__item">List</li>
                </a>
                <a href="/Components/Rating.html">
                    <li class="sidebar__item">Rating</li>
                </a>
                <a href="/Components/Grid.html">
                    <li class="sidebar__item">Grid</li>
                </a>
            </ul>
        </div>
        <!-- card Intro -->
        <div class="card component-box">
            <div class="component-box-demo card__intro">
                <h1 class="component-box-demo--title card__intro--title">card</h1>
                <p class="component-box-demo--desc card__intro--desc"><b>cards</b> are used to provide a flexible and
                    extensible content container with multiple variants and options.<b> AQUA_UI</b> has different types
                    of Cards.</p>
            </div>
            <!-- card With Badge-->
            <div class="component-box-demo card__content">
                <h1 class="component-box-demo--title card__header--container">Card with badge</h1>

                <div class="component-box-demo--container card__img--container">
                    <div class="card__wrapper">
                        <div class="card__primary--actions">
                            <div class="card__bg">
                                <img class="card__bg--img" src="/Component-assets/Component-Image/Card/Background.jpg">
                            </div>
                            <div class="card__content">
                                <h3 class="card__content--title">MackBook</h3>
                                <p class="card__content--text">ipsum, dolor sit amet consectetur adipisicing elit.
                                    Voluptate deserunt dolores
                                    non, optio maxime dignissimos harum repellat ipsa quam, rerum fugit aperiam velit
                                    tenetur eaque ad, labore
                                    nam quod quo?
                                </p>
                            </div>
                        </div>
                        <div class="card__secondary--actions">
                            <div class="card__button--container">
                                <button class=" card__btn card__button--primary">ADD TO CART</button>
                                <button class="card__btn card__button--secondary">BUY NOW</button>
                            </div>
                            <div class="card__badge">
                                <span class="card__badge-text">BestSaller</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="component-box-demo--container card__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="card__wrapper">
<div class="card__primary--actions">
    <div class="card__bg">
        <img class="card__bg--img" src="/Component-assets/Component-Image/Card/Background.jpg">
    </div>
    <div class="card__content">
        <h3 class="card__content--title">MackBook</h3>
        <p class="card__content--text">ipsum, dolor sit amet consectetur adipisicing elit.Voluptate deserunt doloresnon, optio maxime dignissimos harum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam quod quo?
        </p>
    </div>
</div>
<div class="card__secondary--actions">
    <div class="card__button--container">
        <button class=" card__btn card__button--primary">ADD TO CART</button>
        <button class="card__btn card__button--secondary">BUY NOW</button>
    </div>
    <div class="card__badge">
        <span class="card__badge-text">BestSaller</span>
    </div>
</div></div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>


            <!-- card With Dismiss -->
            <div class="component-box-demo card__content">
                <h1 class="component-box-demo--title card__header--container">card with dismiss button</h1>

                <div class="component-box-demo--container card__img--container">
                    <div class="card__wrapper">
                        <h3 class="card-dismiss--title">Saurabh</h3>
                        <p class="card__content--text card-dismiss--text">Lorem ipsum dolor sit adipisicin elit.
                            Molestias similique
                            voluptatem
                            Lorem
                            ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deserunt dolores non, optio
                            maxime dignissimos
                            harum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam quod quo?
                        </p>

                        <div class="card__dismiss--btn">
                            <button class="card-dismiss--icon"><img class="card-dismiss__img"
                                    src="/Component-assets/Component-Image/Card/clear.png"></button>
                        </div>
                    </div>
                </div>
                <div class="component-box-demo--container card__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="card__wrapper">
<h3 class="card-dismiss--title">Saurabh</h3>
<p class="card__content--text card-dismiss--text">Lorem ipsum dolor sit adipisicin elit. Molestias similique voluptatem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deserunt dolores non, optio maxime dignissimosharum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam quod quo?</p>
                    
<div class="card__dismiss--btn">
    <button class="card-dismiss--icon"><img class="card-dismiss__img"src="/Component-assets/Component-Image/Card/clear.png"></button>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Text Overlay card -->
            <div class="component-box-demo card__content">
                <h1 class="component-box-demo--title card__header--container">Text Overlay Card</h1>

                <div class="component-box-demo--container card__img--container">
                    <div class="card__wrapper">
                        <div class="card__primary--actions">
                            <div class="card__bg">
                                <img class="card__bg--img card__bg--overlay"
                                    src="/Component-assets/Component-Image/Card/Background.jpg">
                            </div>
                            <div class="card__content">
                                <h3 class="card__content--overlay">MackBook</h3>
                                <p class="card__content--text">Lorem ipsum dolor sit adipisicin elit. Molestias
                                    similique voluptatem
                                    Lorem
                                    ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deserunt dolores non,
                                    optio maxime
                                    dignissimos
                                    harum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam
                                    quod quo?</p>
                            </div>
                            <div class="card__secondary--actions">
                                <div class="card__button--container">
                                    <button class=" card__btn card__button--primary">ADD TO CART</button>
                                    <button class="card__btn card__button--secondary">BUY NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="component-box-demo--container card__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="card__wrapper">
    <div class="card__primary--actions">
        <div class="card__bg">
            <img class="card__bg--img" src="/Component-assets/Component-Image/Card/Background.jpg">
        </div>
        <div class="card__content">
            <h3 class="card__content--overlay">MackBook</h3>  
            <p class="card__content--text"> Lorem ipsum dolor sit adipisicin elit. Molestias similique voluptatem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deserunt dolores non, optio maximedignissimosharum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam quod quo?</p>

        </div>
        <div class="card__secondary--actions">
            <div class="card__button--container">
                <button class=" card__btn card__button--primary">ADD TO CART</button>
                <button class="card__btn card__button--secondary">BUY NOW</button>
            </div>
        </div>
    </div>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Text only card-->
            <div class="component-box-demo card__content">
                <h1 class="component-box-demo--title card__header--container">Text Card</h1>

                <div class="component-box-demo--container card__img--container">
                    <div class="card__wrapper">
                        <div class="card__content">
                            <h3 class="card__content--title">MackBook</h3>

                            <p class="card__content--text">Lorem ipsum dolor sit adipisicin elit. Molestias similique
                                voluptatem Lorem
                                ipsum, dolor sit amet consectetur adipisicing elit. Voluptate deserunt dolores non,
                                optio maxime
                                dignissimos
                                harum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam quod
                                quo?</p>
                        </div>
                    </div>
                </div>
                <div class="component-box-demo--container card__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="card__wrapper">
    <div class="card__content">
        <h3 class="card__content--title">MackBook</h3>
                    
        <p class="card__content--text">Lorem ipsum dolor sit adipisicin elit. Molestias similique voluptatem Loremipsum, dolor sit amet consectetur adipisicing elit. Voluptate deserunt dolores non, optio maxime dignissimos harum repellat ipsa quam, rerum fugit aperiam velit tenetur eaque ad, labore nam quod quo?</p>
    </div>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Horizontal Card-->
            <div class="component-box-demo card__content">
                <h1 class="component-box-demo--title card__header--container">Horizontal Card</h1>

                <div class="component-box-demo--container card__img--container">
                    <div class="card__wrapper card-hr__wrapper">
                        <div class="card-hr__img--wrapper">
                            <img class="card-hr__img" src="/Component-assets/Component-Image/Card/Background.jpg">
                        </div>
                        <div class="card-hr__content">
                            <h3 class="card-hr__titlt">MackBook</h3>
                            <p class="card-hr__text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <div class="component-box-demo--container card__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="card__wrapper card-hr__wrapper">
    <div class="card-hr__img--wrapper">
        <img class="card-hr__img" src="/Component-assets/Component-Image/Card/Background.jpg">
    </div>
    <div class="card-hr__content">
        <h3 class="card-hr__titlt">MackBook</h3>
        <p class="card-hr__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </main>
    <script src="/Component-assets/SnippetCode/snippet.js"></script>
    <script src="/Component-assets/Component-javaScript/components.js"></script>
</body>

</html>