<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA_UI</title>
    <link rel="stylesheet" href="/assets/Css/ComponentsStyles.css">
    <link rel="stylesheet" href="/assets/Css/component-Responsive.css">
    <link rel="stylesheet" href="/SnippetCode/snippet.css">
</head>

<body>
    <!-- Navigation Bar Desktop -->
    <div class="nav-bar nav-bar--simple">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/assets/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <ul class="nav-bar__list">
            <li><a class="nav-bar__item" href="/index.html">Home</a></li>
            <li><a class="nav-bar__item" href="/Components/Avatar.html">Docs</a></li>
        </ul>
    </div>
    <!-- Navigation Bar For Tab and Mobile  -->
    <div class="nav-bar nav-bar--hamburger">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/assets/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <div class="nav-bar--hamburger">
            <img class="nav-bar__img--hamburger" src="/assets/images/Hamburger Menu.png">
        </div>
    </div>

    <!---Hamburger List -->
    <div class="hamburger">
        <div class="hamburger__header--wrapper">
            <h1 class="hamburger__title">AQUA_UI</h1>
            <img class="hamburger__close-btn" src="/assets/images/Hamburger Close.png" alt="Hamburger">
        </div>
        <ul class="hamburger__list">
            <a href="/index.html">
                <li class="hamburger__item">Home</li>
            </a>
            <a href="/Components/Avatar.html">
                <li class="hamburger__item">Avatar</li>
            </a>
            <a href="/Components/Alert.html">
                <li class="hamburger__item">Alert</li>
            </a>
            <a href="/Components/Badge.html">
                <li class="hamburger__item">Badge</li>
            </a>
            <a href="/Components/Button.html">
                <li class="hamburger__item">Button</li>
            </a>
            <a href="/Components/Image.html">
                <li class="hamburger__item">Image</li>
            </a>
            <a href="/Components/Card.html">
                <li class="hamburger__item">Card</li>
            </a>
            <a href="/Components/Input.html">
                <li class="hamburger__item">Input</li>
            </a>
            <a href="/Components/Modal.html">
                <li class="hamburger__item">Modal</li>
            </a>
            <a href="/Components/Navigation.html">
                <li class="hamburger__item">Navigation</li>
            </a>
            <a href="/Components/Toast.html">
                <li class="hamburger__item">Toast</li>
            </a>
        </ul>
    </div>
    <main>
        <!-- sidebar -->
        <div class="sidebar">
            <h1 class="sidebar__title">Components</h1>
            <ul class="sidebar__list">
                <a href="/Components/Avatar.html">
                    <li class="sidebar__item">Avatar</li>
                </a>
                <a href="/Components/Alert.html">
                    <li class="sidebar__item">Alert</li>
                </a>
                <a href="/Components/Badge.html">
                    <li class="sidebar__item">Badge</li>
                </a>
                <a href="/Components/Button.html">
                    <li class="sidebar__item">Button</li>
                </a>
                <a href="/Components/Image.html">
                    <li class="sidebar__item">Image</li>
                </a>
                <a href="/Components/Card.html">
                    <li class="sidebar__item">Card</li>
                </a>
                <a href="/Components/Input.html">
                    <li class="sidebar__item">Input</li>
                </a>
                <a href="/Components/Modal.html">
                    <li class="sidebar__item">Modal</li>
                </a>
                <a href="/Components/Navigation.html">
                    <li class="sidebar__item">Navigation</li>
                </a>
                <a href="/Components/Toast.html">
                    <li class="sidebar__item">Toast</li>
                </a>
            </ul>
        </div>

        <!-- Nav-bar-component -->
        <!-- Nav-bar-component Intro -->
        <div class="Nav-bar-component component-box">
            <div class="component-box-demo Nav-bar-component__intro">
                <h1 class="component-box-demo--title Nav-bar-component__intro--title">Navigation</h1>
                <p class="component-box-demo--desc Nav-bar-component__intro--desc"><b>Navigation Bar</b> is used to navigate users from one page to different pages of Website and App.</p>
            </div>
            
            <!-- Nav-bar-component on Avatar -->
            <div class="component-box-demo Nav-bar-component__content">
                <h1 class="component-box-demo--title Nav-bar-component__header--container">Navigation-bar</h1>

                <div class="component-box-demo--container Nav-bar-component__img--container">
                    <div class="nav-bar-component__wrapper">
                        <div class="nav-bar-component--primary-actions">
                            <h1 class="nav-bar-component__logo">Logo</h1>
                        </div>
                        <div class="nav-bar-component--seconday-actions">
                            <ul class="nav-bar-component__list">
                                <li class="nav-bar-component__item">Home</li>
                                <li class="nav-bar-component__item">About Us</li>
                                <li class="nav-bar-component__item">Contact Us</li>
                                <li class="nav-bar-component__item">Projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="component-box-demo--container badge__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly>&lt;div class=&quot;nav-bar-component__wrapper&quot;&gt;
    &lt;div class=&quot;nav-bar-component--primary-actions&quot;&gt;
        &lt;h1 class=&quot;nav-bar-component__logo&quot;&gt;Logo&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nav-bar-component--seconday-actions&quot;&gt;
        &lt;ul class=&quot;nav-bar-component__list&quot;&gt;
            &lt;li class=&quot;nav-bar-component__item&quot;&gt;Home&lt;/li&gt;
            &lt;li class=&quot;nav-bar-component__item&quot;&gt;About Us&lt;/li&gt;
            &lt;li class=&quot;nav-bar-component__item&quot;&gt;Contact Us&lt;/li&gt;
            &lt;li class=&quot;nav-bar-component__item&quot;&gt;Projects&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
    <script src="/SnippetCode/snippet.js"></script>
    <script src="/assets/Component-javaScript/components.js"></script>
</body>

</html>