<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA_UI</title>
    <link rel="stylesheet" href="/Component-assets/Css/ComponentsStyles.css">
    <link rel="stylesheet" href="/Component-assets/Css/component-Responsive.css">
    <link rel="stylesheet" href="/Component-assets/SnippetCode/snippet.css">
</head>

<body>
    <!-- Navigation Bar Desktop -->
    <div class="nav-bar nav-bar--simple">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/Home-page/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <ul class="nav-bar__list">
            <li><a class="nav-bar__item" href="/index.html">Home</a></li>
            <li><a class="nav-bar__item" href="/Components/Avatar.html">Docs</a></li>
        </ul>
    </div>
    <!-- Navigation Bar For Tab and Mobile  -->
    <div class="nav-bar nav-bar--hamburger">
        <div class="nav-bar--logo">
            <a href="/index.html"><img class="nav-bar__img--logo" src="/Home-page/images/AQUA_UI Logo.png"
                    alt="AQUA_UI"></a>
        </div>
        <div class="nav-bar--hamburger">
            <img class="nav-bar__img--hamburger" src="/Home-page/images/Hamburger Menu.png">
        </div>
    </div>

    <!---Hamburger List -->
    <div class="hamburger">
        <div class="hamburger__header--wrapper">
            <h1 class="hamburger__title">AQUA_UI</h1>
            <img class="hamburger__close-btn" src="/Home-page/images/Hamburger Close.png" alt="Hamburger">
        </div>
        <ul class="hamburger__list">
            <a href="/index.html">
                <li class="hamburger__item">Home</li>
            </a>
            <a href="/Components/Avatar.html">
                <li class="hamburger__item">Avatar</li>
            </a>
            <a href="/Components/Alert.html">
                <li class="hamburger__item">Alert</li>
            </a>
            <a href="/Components/Badge.html">
                <li class="hamburger__item">Badge</li>
            </a>
            <a href="/Components/Button.html">
                <li class="hamburger__item">Button</li>
            </a>
            <a href="/Components/Image.html">
                <li class="hamburger__item">Image</li>
            </a>
            <a href="/Components/Card.html">
                <li class="hamburger__item">Card</li>
            </a>
            <a href="/Components/Input.html">
                <li class="hamburger__item">Input</li>
            </a>
            <a href="/Components/Modal.html">
                <li class="hamburger__item">Modal</li>
            </a>
            <a href="/Components/Navigation.html">
                <li class="hamburger__item">Navigation</li>
            </a>
            <a href="/Components/Toast.html">
                <li class="hamburger__item">Toast</li>
            </a>
            <a href="/Components/Text-Utilities.html">
                <li class="sidebar__item">Text Utilities</li>
            </a>
            <a href="/Components/List.html">
                <li class="hamburger__item">List</li>
            </a>
            <a href="/Components/Rating.html">
                <li class="hamburger__item">Rating</li>
            </a>
            <a href="/Components/Grid.html">
                <li class="hamburger__item">Grid</li>
            </a>
        </ul>
    </div>
    <main>
        <!-- sidebar -->
        <div class="sidebar">
            <h1 class="sidebar__title">Components</h1>
            <ul class="sidebar__list">
                <a href="/Components/Avatar.html">
                    <li class="sidebar__item">Avatar</li>
                </a>
                <a href="/Components/Alert.html">
                    <li class="sidebar__item">Alert</li>
                </a>
                <a href="/Components/Badge.html">
                    <li class="sidebar__item">Badge</li>
                </a>
                <a href="/Components/Button.html">
                    <li class="sidebar__item">Button</li>
                </a>
                <a href="/Components/Image.html">
                    <li class="sidebar__item">Image</li>
                </a>
                <a href="/Components/Card.html">
                    <li class="sidebar__item">Card</li>
                </a>
                <a href="/Components/Input.html">
                    <li class="sidebar__item">Input</li>
                </a>
                <a href="/Components/Modal.html">
                    <li class="sidebar__item">Modal</li>
                </a>
                <a href="/Components/Navigation.html">
                    <li class="sidebar__item">Navigation</li>
                </a>
                <a href="/Components/Toast.html">
                    <li class="sidebar__item">Toast</li>
                </a>
                <a href="/Components/Text-Utilities.html">
                    <li class="sidebar__item">Text Utilities</li>
                </a>
                <a href="/Components/List.html">
                    <li class="sidebar__item">List</li>
                </a>
                <a href="/Components/Rating.html">
                    <li class="sidebar__item">Rating</li>
                </a>
                <a href="/Components/Grid.html">
                    <li class="sidebar__item">Grid</li>
                </a>
            </ul>
        </div>

        <!-- Text-utilities -->
        <!-- Text-utilities Intro -->
        <div class="text-utilities component-box">
            <div class="component-box-demo text-utilities__intro">
                <h1 class="component-box-demo--title text-utilities__intro--title">Text-utilities</h1>
                <p class="component-box-demo--desc text-utilities__intro--desc"><b>Aqua_uI</b> has different types of
                    text-Properties. which is used for different purpose like heading, small-text and Alignment.
            </div>
            <!-- Text-utilities Heading-->
            <div class="component-box-demo text-utilities__content">
                <h1 class="component-box-demo--title text-utilities__header--container">Text-utilities-Heading</h1>

                <div class="component-box-demo--container text-utilities__img--container">
                    <div class="heading">
                        <h1>Aqua UI h1 heading</h1>
                        <h2>Aqua UI h2 heading</h2>
                        <h3>Aqua UI h3 heading</h3>
                        <h4>Aqua UI h4 heading</h4>
                        <h5>Aqua UI h5 heading</h5>
                        <h6>Aqua UI h6 heading</h6>
                    </div>
                </div>
                <div class="component-box-demo--container text-utilities__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div> class="heading">
    <h1>Aqua UI h1 heading</h1>
    <h2>Aqua UI h2 heading</h2>
    <h3>Aqua UI h3 heading</h3>
    <h4>Aqua UI h4 heading</h4>
    <h5>Aqua UI h5 heading</h5>
    <h6>Aqua UI h6 heading</h6>
</div>
                        </textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>

            </div>

            <!-- Text-utilities Small-Text -->
            <div class="component-box-demo text-utilities__content">
                <h1 class="component-box-demo--title text-utilities__header--container">Text-utilities-Small</h1>

                <div class="component-box-demo--container text-utilities__img--container">
                    <div class="small--text">
                        <p><small>Aquz_UI</small></p>
                    </div>
                </div>
                <div class="component-box-demo--container text-utilities__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="small--text">
    <p><small>Aquz_UI</small></p>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>
            </div>

            <!-- Text-utilities Alignment -->
            <div class="component-box-demo text-utilities__content">
                <h1 class="component-box-demo--title text-utilities__header--container">Text-utilities-Alignment</h1>

                <div class="component-box-demo--container text-utilities__img--container">
                    <div class="text-alignment">
                        <p class="line-start">Aqua_UI</p>
                        <p class="line-center">Aqua_UI</p>
                        <p class="line-end">Aqua_UI</p>
                    </div>
                </div>
                <div class="component-box-demo--container text-utilities__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="text-alignment">
    <p class="line-start">Aqua_UI</p>
    <p class="line-center">Aqua_UI</p>
    <p class="line-end">Aqua_UI</p>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>
            </div>
            <!-- Text-utilities Gray -->
            <div class="component-box-demo text-utilities__content">
                <h1 class="component-box-demo--title text-utilities__header--container">Text-utilities-Gray</h1>

                <div class="component-box-demo--container text-utilities__img--container">
                    <div class="gray--text-container">
                        <p class="gray-text">Aqua_UI</p>
                    </div>
                </div>
                <div class="component-box-demo--container text-utilities__code--container">
                    <div class="code-snippet-container ">
                        <textarea class="code-snippet" name="code-snippet" rows="4" cols="" readonly><div class="gray--text-container">
    <p class="gray-text">Aqua_UI</p>
</div></textarea>
                        <button class="code-snippet--copy">Copy</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
    <script src="/Component-assets/SnippetCode/snippet.js"></script>
    <script src="/Component-assets/Component-javaScript/components.js"></script>
</body>

</html>