@media screen and (max-width: 1250px) {
.sample__code{
  max-width:50rem;
}
}

@media screen and (max-width: 975px) {
  .sidebar {
    width: 12rem;
  }
  .sidebar__title {
    margin: 1rem 8px 0;
  }
  .card {
    width: calc(100vw - 12rem);
    margin: 4.5rem 1rem 1rem 13rem;
  }
  .sample__code{
    max-width:40rem;
  }
}
@media screen and (max-width: 750px) {
  .sidebar {
    width: 10rem;
  }
  .component-box {
    width: calc(100vw - 10rem);
    margin: 4.5rem 1rem 1rem 11rem;
  }
  .sidebar__title {
    margin: 8px 2px 0;
    padding: 8px 8px;
  }
  .sample__code{
    max-width:30rem;
  }
}
@media screen and (max-width: 550px) {
  .nav-bar__img--logo {
    margin-left: 8px;
  }
  .sidebar {
    display: none;
  }
  .component-box {
    width: 100%;
    margin: 4.5rem 1rem 1rem 1rem;
  }

  /* Nav Hamburger */
  .nav-bar--simple {
    display: none;
  }
  .nav-bar--hamburger {
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
  }
  .sample__code{
    max-width:20rem;
  }
  .grid-two-container {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .grid-three-container {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}